# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
env/

# Environment Variables
.env
.env.*

# =========================
# FastAPI / Python
# =========================
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# =========================
# Next.js
# =========================
.next/
out/
node_modules/

# Build Files
dist/
build/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# ML Models
# =========================
*.pkl
*.joblib
*.h5
*.pt
*.pth

# =========================
# Dataset
# =========================
fashionscience/dataset/

# =========================
# Notes
# =========================
notes
fashionscience/notes

# =========================
# Mapping File
# =========================
fashionscience/mapping.py

# =========================
# ZIP Files
# =========================
*.zip

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary Files
# =========================
*.tmp
*.temp